// --------->>> Colors Variables
$hl-text-color: #f37335;
$primary-color: #333;
$secondary-color: #f37335;
$light-color: #fff;

// ----------->> Image Variables
$home-image: url(../img/showcase-portfolio.jpg);
$img-overlay-gradient: linear-gradient(
  to right,
  rgba(17, 17, 17, 0.8),
  rgba(17, 17, 17, 0.8)
);

// ------>>> MIXINS

@mixin background {
  background-image: $img-overlay-gradient, $home-image;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

@mixin boxShadow($esp, $opct) {
  box-shadow: 0 0 $esp rgba(0, 0, 0, $opct);
}
@mixin textShadow($esp, $opct) {
  text-shadow: 0 0 $esp rgba(0, 0, 0, $opct);
}
