// --------->>> Colors Variables
$hl-text-color: #f37335;
$primary-color: #333;
$secondary-color: #f37335;
$light-color: #fff;

// ----------->> Image Variables
$home-image: url(../img/showcase-portfolio.jpg);
// $img-overlay-gradient: linear-gradient(
//   to right,
//   rgba(17, 17, 17, 0.8),
//   rgba(17, 17, 17, 0.8)
// );

// ------>>> MIXINS

@mixin background($opct) {
  background-image: linear-gradient(
      to right,
      rgba(17, 17, 17, $opct),
      rgba(17, 17, 17, $opct)
    ),
    $home-image;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
@mixin bg__dark--opct($opct) {
  background-color: rgba(17, 17, 17, $opct);
}

@mixin boxShadow($esp, $opct) {
  box-shadow: 0 0 $esp rgba(0, 0, 0, $opct);
}
@mixin textShadow($esp, $opct) {
  text-shadow: 0 0 $esp rgba(0, 0, 0, $opct);
}

//Media queries mixins
@mixin mediaSmall {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaTablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaDesktop {
  @media screen and (min-width: 769px) and (max-width: 1180px) {
    @content;
  }
}
@mixin mediaLarge {
  @media screen and (min-width: 1181px) {
    @content;
  }
}
