// Menu button
.menu__btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 5;
  cursor: pointer;
  transition: all 0.4s ease;

  .btn__line {
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
    transition: all 0.4s ease;
  }

  &:hover {
    .btn__line {
      background: $hl-text-color;
    }
  }
  //Menu click effect
  &.close {
    transform: rotate(180deg);
    .btn__line {
      // line 1
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 4px);
      }
      // line 2
      &:nth-child(2) {
        opacity: 0;
      }
      //line 3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//overlay menu
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &__info,
  &__nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &__nav {
    background-color: $primary-color;
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 0.4s ease;
    opacity: 0.9;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  &__info {
    background-color: darken($secondary-color, 5);
    transform: translate3d(-100%, 0, 0);
    transition: all 0.4s ease-in;
    opacity: 0.96;
    &.show {
      transform: translate3d(0, 0, 0);
    }
    .picture {
      height: 12rem;
      width: 12rem;
      background-image: url(../img/profile.jpg);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      border: 4px solid $primary-color;
      @include boxShadow(20px, 0.8);
    }
  }
}

.nav__item {
  margin-bottom: 1rem;
  transform: translate3d(600px, 0, 0);
  transition: all 0.3s ease-in;
  &.show {
    transform: translate3d(0, 0, 0);
  }
  .nav--link {
    color: $light-color;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    @include textShadow(5px, 0.3);
    &:hover {
      color: $secondary-color;
      transform: translateX(10px);
    }
  }
}

//Efeito de delay em cada nav item
@for $x from 1 through 4 {
  .nav__item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
