@import "abstracts";
@import "menu";
@import "mobile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // color: #fff;
  @include background(0.9);
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: $light-color;

  &.main__heading {
    font-size: 6rem;
    letter-spacing: 0.6rem;
    margin-bottom: 0.5rem;
    line-height: 1;
  }

  &.sub-heading {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    padding: 0 0.4rem;
  }
}

a {
  text-decoration: none;
  color: $light-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.hl-text {
  color: $hl-text-color;
}

main {
  padding: 4.5rem;
  height: 100%;
  text-align: center;
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.5rem 1rem;

      &:visited {
        color: $light-color;
      }
      &:hover {
        color: $hl-text-color;
        transition: all 0.3s ease;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 25vh;
    }
  }
}

// About page
#about {
  display: grid;
  grid-template-areas:
    "bioimg bio bio"
    "bioitem1 bioitem2 bioitem3";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  &.sub-heading {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
}
